/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
// html {
//     height: 100%;
// }

body {
    height: auto;
    font-family: 'ProximaNova-Regular';
    background-image: url('../img/base/body-bg.png');
    background-size: cover;
}

a {
    @extend %default-transition;
}

.container-fluid-default {
    padding: 0 60px;
    position: relative;

    @extend %clearfix;
}

.myContainer {
    position: relative;
    max-width: 960px;
    margin: 0 auto;

    @extend %clearfix;
}

.main {
    padding-top: 60px;
    background-image: url(../img/base/mountains-bg.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100%;
}

.default-page-title {
    font-family: 'LifehackBasic-Regular';
    font-size: 54px;
    line-height: 47px;
}

.benefits {
    margin-bottom: 25px;
    &__list {
        li {
            display: inline-block;
            width: 32.33%;
            margin-bottom: 38px;
            list-style: none;
            text-align: center;
            vertical-align: middle;
        }
    }
    &__img-block {
        margin-bottom: 15px;
    }
    &__img {
        width: 57px;
        height: 55px;
    }
    &__description {
        max-width: 82%;
        font-family: 'ProximaNova-Light';
        font-size: 24px;
        margin: 0 auto;
        > p {
            margin-bottom: 0;
        }
    }
}

.default-form {
    &__holder {
        background-color: #fff;
    }
    &__row {
        display: table-row;
        &:nth-child(even) {
            background-color: color('tableRowEvenBg');
        }
    }
    &__cell {
        display: table-cell;
    }
    &__textfield {
        @extend %default-transition;
    }
    &__submit-btn {
        display: inline-block;
        font-family: 'ProximaNovaExCn-Bold';
        font-size: 18px;
        line-height: 26px;
        padding: 10px 9px;
        cursor: pointer;
        text-transform: uppercase;
        color: #000;
        border: none;
        border: 2px solid transparent;
        background: none;
        background-color: color('thirdary');

        @extend %default-transition;
        &:hover {
            color: color('thirdary');
            border: 2px solid color('thirdary');
            background-color: #fff;
        }
    }
}

.error-wrapper {
    position: relative;
}

label.error {
    position: absolute;
    top: 0;
    left: 0;
    color: color('danger');
}

@import 'assets/base-assets/footer';
/*END:base*/
