@import 'assets/settings';

/*contact*/

.contact-main {
    &__heading {
        margin-bottom: 42px;
        text-align: center;
    }
    &__title {
        margin-bottom: 45px;
        color: #fff;
    }
    &__subtitle {
        font-family: 'ProximaNova-Light';
        font-size: 30px;
        font-weight: normal;
        line-height: 33px;
        color: #000;
    }
}

.contact-main__heading {
    margin-bottom: 10;
    text-align: center;
}

.contact-main__title {
    margin-bottom: 38px;
    color: #fff;
}

.contact-form {
    position: relative;
    &__form {
        position: relative;
        &:before {
            position: absolute;
            top: -16px;
            left: 12%;
            z-index: -2;
            display: block;
            width: 80%;
            height: 20px;
            content: '';
            background-color: color('secondary');
        }
        &:after {
            position: absolute;
            top: -7px;
            left: 8.4%;
            z-index: -1;
            width: 93%;
            height: 70%;
            content: '';
            border: 1px solid #000;
        }
    }
    &__holder {
        display: table;
        width: 100%;
        margin-bottom: 30px;
    }
    &__title {
        font-family: 'ProximaNova-Semibold';
        font-size: 30px;
        margin-bottom: 55px;
    }
    &__cell {
        padding: 25px 30px;
        &--title {
            width: 29.300000000000001%;
        }
        &-title {
            font-family: 'ProximaNova-Semibold';
            font-size: 15px;
            font-weight: normal;
            margin-bottom: 0;
        }
    }
    &__textfield {
        display: block;
        width: 100%;
        font-family: 'ProximaNova-Regular';
        font-size: 15px;
        margin-bottom: 8px;
        padding-bottom: 2px;
        color: #000;
        border: none;
        border-bottom: 1px solid #000;
        background-color: transparent;
        &::-webkit-input-placeholder {
            color: #000;
        }
        &::-moz-placeholder {
            color: #000;
        }/* Firefox 19+ */
        &:-moz-placeholder {
            color: #000;
        }/* Firefox 18- */
        &:-ms-input-placeholder {
            color: #000;
        }
    }
    &__submit-btn {
        // text-align: center;
    }
}

.contact-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.8);
    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 913px;
        margin: 0 auto;
        background-color: #fff;

        @extend %translate-xy;
    }
    &__holder {
        position: relative;
        padding: 30px 35px;
        background-color: #fff;
        &:before {
            position: absolute;
            top: -16px;
            left: 12%;
            z-index: -2;
            display: block;
            width: 80%;
            height: 20px;
            content: '';
            background-color: color('thirdary');
        }
        &:after {
            position: absolute;
            top: -7px;
            left: 8.4%;
            z-index: -1;
            width: 93%;
            height: 70%;
            content: '';
            border: 1px solid #000;
        }
    }
    &__title {
        font-family: 'LifehackBasic-Regular';
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
        text-align: center;
        color: #001a24;
    }
    &__description {
        max-width: 530px;
        font-size: 15px;
        margin: 0 auto 35px;
        text-align: center;
        color: #000;
    }
    &__links-list {
        margin: 0 -15px;
        > li {
            display: inline-block;
            width: 33%;
            padding: 0 15px;
            list-style: none;
            text-align: center;
            vertical-align: top;
            > a {
                position: relative;
                display: inline-block;
                font-family: 'ProximaNovaExCn-Semibold';
                font-size: 18px;
                line-height: 26px;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                &:after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: inline-block;
                    width: 100%;
                    height: 5px;
                    content: '';
                    transition: opacity 0.15s ease-in;
                    opacity: 0;
                    background-image: url(../img/base/header-nav-item-underline.png);
                    background-repeat: repeat-x;
                    background-size: 100% 100%;
                }
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/*END:contact*/
