@import 'assets/settings';
/*responsive*/
@media screen and (max-width: 1400px) {
    .header-nav {
        z-index: 99;
        width: 20%;
    }
    .header-logo {
        width: 60%;
    }
    .header-login {
        width: 20%;
    }
    .header-nav__list {
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 100;
        margin: 0;
        transition: transform 0.15s ease-in;
        transform: translateX(-200%);
        border-radius: 6px;
        background: darken(color('primary'), 10%);
        &.active {
            transform: translateX(0);
        }
        &-item {
            display: block;
            float: none;
            margin-bottom: 10px;
            padding: 0;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
            &:after {
                display: none;
            }
            > a {
                display: block;
                padding: 7px 18px;
            }
        }
    }
    .header-nav__toggle-btn {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .header-nav {
        width: auto;
        margin-right: 25px;
    }
    .header-logo {
        width: auto;
        background-image: none;
    }
}

@media screen and (max-width: 1060px) {
    .myContainer {
        width: 95%;
    }
    .header-login {
        width: auto;
    }
    .header-login__text-link {
        font-size: 18px;
    }
    .contact-main__title {
        font-size: 42px;
    }
    .contact-main__subtitle {
        font-size: 22px;
    }
    .contact-main__heading {
        margin-bottom: 55px;
    }
    .benefits {
        margin-bottom: 65px;
    }
    .benefits__list li {
        display: block;
        width: auto;
    }
    .benefits__description {
        font-size: 22px;
    }
    .contact-form__form:after {
        display: none;
    }
    .contact-modal__inner {
        width: 85%;
    }
    .body-contact .site-footer__call-to-action {
        font-size: 22px;
    }
    .contact-modal__title {
        font-size: 31px;
    }
    .contact-modal__links-list {
        margin: 0;
        > li {
            display: block;
            width: auto;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-size: 16px;
            }
        }
    }
    .site-footer__project-info,
    .site-footer__year-block,
    .site-footer__madeby {
        float: none;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .site-footer__project-info-link,
    .site-footer__madeby-link-img {
        display: block;
        margin: 0 auto 12px;
    }
    .site-footer__madeby-link {
        float: none;
    }
}

@media screen and (max-width: 700px) {
    .header-logo__link {
        font-size: 40px;
    }
    .header-nav {
        margin-right: 16px;
    }
    .contact-main__title {
        font-size: 35px;
    }
    .contact-main__subtitle {
        font-size: 18px;
    }
    .benefits__description {
        max-width: 85%;
        margin: 0 auto;
    }
    .contact-form__title {
        font-size: 25px;
    }
    .contact-form__form:before {
        top: -8px;
    }
    .contact-modal__title {
        font-size: 25px;
    }
    .site-footer__call-to-action {
        max-width: 50%;
        line-height: 25px;
        margin: 0 auto;
    }
    .default-form__submit-btn {
        font-size: 15px;
        padding: 7px 9px;
    }
}

@media screen and (max-width: 600px) {
    .site-header {
        padding-top: 22px;
    }
    .header-nav {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
    .header-logo {
        float: none;
        margin-bottom: 12px;
        &__link {
            display: inline-block;
        }
    }
    .header-login {
        float: none;
        &__text {
            text-align: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .contact-modal__title {
        font-size: 22px;
        line-height: inherit;
    }
    .contact-modal__description {
        max-width: 80%;
        font-size: 13px;
        margin: 0 auto;
    }
    .body-contact .site-footer__call-to-action {
        max-width: 95%;
        font-size: 18px;;
    }
    .contact-modal__links-list > li a {
        font-size: 13px;
    }
    .contact-form__cell-title,
    .contact-form__textfield {
        font-size: 11px;
    }
    .contact-form__cell {
        padding: 13px 14px;
        &--title {
            width: 15%;
        }
    }
    .contact-form__title {
        font-size: 22px;
    }
    .default-form__submit-btn {
        font-size: 13px;
    }
}
/*END:responsive*/
