/*footer*/

.site-footer {
    position: relative;
    font-size: 13px;
    margin-top: 130px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: color('footerText');
    background-color: #fff;
    background-image: url(../img/base/footer-bg.png);
    background-size: cover;
    &:before {
        position: absolute;
        top: -110px;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 215px;
        content: '';
        background-image: url(../img/base/footer-clouds-bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    a {
        font-size: 13px;
    }
    &__project-info {
        float: left;
        width: 40%;
        &-link {
            display: inline-block;
            vertical-align: middle;
        }
        &-linktext {
            display: inline-block;
            vertical-align: middle;
        }
        &-linkhighlight {
            text-decoration: none;
            color: color('footerLinkHighlighted');
        }
    }
    &__year-block {
        float: left;
        width: 20%;
        text-align: center;
        padding-top: 14px;
    }
    &__year-link {
        text-decoration: none;
        color: color('footerText');
    }
    &__madeby {
        float: right;
        width: 40%;
        &-link {
            display: block;
            float: right;
            text-decoration: none;
            &-img {
                display: inline-block;
                margin-right: 12px;
                vertical-align: middle;
            }
            &-text {
                display: inline-block;
                vertical-align: middle;
                p {
                    margin-bottom: 0;
                }
                a {
                    text-decoration: none;
                    color: #4b3431;
                }
            }
        }
    }
    &__call-to-action {
        display: none;
    }
}

.body-contact {
    .site-footer__call-to-action {
        display: block;
        font-family: 'ProximaNova-Semibold';
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #44c5f4;
        margin-bottom: 45px;
    }
}
/*END:footer*/
