/*header*/

.site-header {
    padding-top: 65px;
    color: #fff;

    @extend %clearfix;
    a {
        color: #fff;
    }
}

.header-nav {
    position: relative;
    float: left;
    width: 40%;
    &__toggle-btn {
        display: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        vertical-align: middle;
        border: none;
        background: none;
        background-image: url(../img/base/mobile-menu.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &.active {
            display: inline-block;
            background-image: url(../img/base/mobile-menu-close.svg);
        }
    }
    &__list {
        margin: 0 -27px;
        margin-bottom: 0;
        list-style: none;

        @extend %clearfix;
        &-item {
            position: relative;
            float: left;
            padding: 0 27px;
            &:after {
                position: relative;
                top: -2px;
                left: 26px;
                z-index: -1;
                display: inline-block;
                width: 9px;
                height: 10px;
                content: '';
                background-image: url(../img/base/header-nav-divider.png);
                background-repeat: no-repeat;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            > a {
                position: relative;
                display: inline-block;
                font-family: 'ProximaNovaExCn-Regular';
                font-size: 22px;
                line-height: 26px;
                text-decoration: none;
                text-transform: uppercase;
                &:after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: inline-block;
                    width: 100%;
                    height: 5px;
                    content: '';
                    opacity: 0;
                    background-image: url(../img/base/header-nav-item-underline.png);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;

                    @extend %default-transition;
                }
                &:hover {
                    color: color('thirdary');
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.header-logo {
    float: left;
    width: 20%;
    margin-top: -20px;
    text-align: center;
    background-image: url(../img/base/logo-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    &__title {
        display: block;
        margin-bottom: 0px;
    }
    &__link {
        display: block;
        font-family: 'LifehackBasic-Regular';
        font-size: 48px;
        line-height: 55px;
        text-decoration: none;
    }
    &__year {
        font-family: 'ProximaNovaCond-Regular';
        font-size: 12px;
        line-height: 26px;
    }
}

.header-login {
    float: right;
    width: 40%;
    &__text {
        text-align: right;
        &-link {
            font-family: 'ProximaNovaExCn-Regular';
            font-size: 22px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: color('thirdary');
            }
        }
    }
}


/*END:header*/
