/* myReset:Start*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font: normal 100% Cambria, Georgia, serif;
    line-height: 1;
    height: 100%;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

a,
a:hover,
a:focus {
    color: #000;
    outline: none;
}

ul {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    padding: 0;
}

img {
    max-width: 100%;
    border-style: none;
    outline: none;
}

input {
    -webkit-appearance: none;
}

input::-ms-clear {
    display: none;
}

input,
textarea,
button,
.slick-slide {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

input:focus,
textarea:focus {
    /* Firefox 19+ */
    /* Firefox 18- */
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

strong {
    font-weight: bold;
}

label,
button {
    cursor: pointer;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.text-center {
    text-align: center;
}


/* END:myReset */


/*fonts*/

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaExCn-Regular';
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaExCn-Semibold';
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaExCn-Bold';
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaCond-Regular';
    src: url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'LifehackBasic-Regular';
    src: url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.woff') format('woff'), url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.ttf') format('truetype'), url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}


/*END:fonts*/
/*# sourceMappingURL=sourcemaps/assets.css.map */
