/*base*/

.header-nav__list-item>a:after,
a,
.default-form__textfield,
.default-form__submit-btn {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.site-header:after,
.header-nav__list:after,
.container-fluid-default:after,
.myContainer:after {
    display: block;
    clear: both;
    content: '';
}


/*header*/

.site-header {
    padding-top: 65px;
    color: #fff;
}

.site-header a {
    color: #fff;
}

.header-nav {
    position: relative;
    float: left;
    width: 40%;
}

.header-nav__toggle-btn {
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    background: none;
    background-image: url(../img/base/mobile-menu.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.header-nav__toggle-btn.active {
    display: inline-block;
    background-image: url(../img/base/mobile-menu-close.svg);
}

.header-nav__list {
    margin: 0 -27px;
    margin-bottom: 0;
    list-style: none;
}

.header-nav__list-item {
    position: relative;
    float: left;
    padding: 0 27px;
}

.header-nav__list-item:after {
    position: relative;
    z-index: -1;
    top: -2px;
    left: 26px;
    display: inline-block;
    width: 9px;
    height: 10px;
    content: '';
    background-image: url(../img/base/header-nav-divider.png);
    background-repeat: no-repeat;
}

.header-nav__list-item:last-child:after {
    display: none;
}

.header-nav__list-item>a {
    font-family: 'ProximaNovaExCn-Regular';
    font-size: 22px;
    line-height: 26px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.header-nav__list-item>a:after {
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 5px;
    content: '';
    opacity: 0;
    background-image: url(../img/base/header-nav-item-underline.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.header-nav__list-item>a:hover {
    color: #fde44e;
}

.header-nav__list-item>a:hover:after {
    opacity: 1;
}

.header-logo {
    float: left;
    width: 20%;
    margin-top: -20px;
    text-align: center;
    background-image: url(../img/base/logo-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.header-logo__title {
    display: block;
    margin-bottom: 0;
}

.header-logo__link {
    font-family: 'LifehackBasic-Regular';
    font-size: 48px;
    line-height: 55px;
    display: block;
    text-decoration: none;
}

.header-logo__year {
    font-family: 'ProximaNovaCond-Regular';
    font-size: 12px;
    line-height: 26px;
}

.header-login {
    float: right;
    width: 40%;
}

.header-login__text {
    text-align: right;
}

.header-login__text-link {
    font-family: 'ProximaNovaExCn-Regular';
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-login__text-link:hover {
    color: #fde44e;
}


/*END:header*/

body {
    font-family: 'ProximaNova-Regular';
    height: auto;
    background-image: url('../img/base/body-bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid-default {
    position: relative;
    padding: 0 60px;
}

.myContainer {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.main {
    padding-top: 60px;
    background-image: url(../img/base/mountains-bg.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.default-page-title {
    font-family: 'LifehackBasic-Regular';
    font-size: 54px;
    line-height: 47px;
}

.benefits {
    margin-bottom: 25px;
}

.benefits__list li {
    display: inline-block;
    width: 32.33%;
    margin-bottom: 38px;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

.benefits__img-block {
    margin-bottom: 15px;
}

.benefits__img {
    width: 57px;
    height: 55px;
}

.benefits__description {
    font-family: 'ProximaNova-Light';
    font-size: 24px;
    max-width: 82%;
    margin: 0 auto;
}

.benefits__description>p {
    margin-bottom: 0;
}

.default-form__holder {
    background-color: #fff;
}

.default-form__row {
    display: table-row;
}

.default-form__row:nth-child(even) {
    background-color: #f9f9f9;
}

.default-form__cell {
    display: table-cell;
}

.default-form__submit-btn {
    font-family: 'ProximaNovaExCn-Bold';
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    padding: 10px 9px;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    border: none;
    border: 2px solid transparent;
    background: none;
    background-color: #fde44e;
}

.default-form__submit-btn:hover {
    color: #fde44e;
    border: 2px solid #fde44e;
    background-color: #fff;
}

.error-wrapper {
    position: relative;
}

label.error {
    position: absolute;
    top: 0;
    left: 0;
    color: #e02c2c;
}


/*footer*/

.site-footer {
    font-size: 13px;
    position: relative;
    margin-top: 130px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #777;
    background-color: #fff;
    background-image: url(../img/base/footer-bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-footer:before {
    position: absolute;
    z-index: -1;
    top: -110px;
    left: 0;
    display: block;
    width: 100%;
    height: 215px;
    content: '';
    background-image: url(../img/base/footer-clouds-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.site-footer a {
    font-size: 13px;
}

.site-footer__project-info {
    float: left;
    width: 40%;
}

.site-footer__project-info-link {
    display: inline-block;
    vertical-align: middle;
}

.site-footer__project-info-linktext {
    display: inline-block;
    vertical-align: middle;
}

.site-footer__project-info-linkhighlight {
    text-decoration: none;
    color: #1480a7;
}

.site-footer__year-block {
    float: left;
    width: 20%;
    padding-top: 14px;
    text-align: center;
}

.site-footer__year-link {
    text-decoration: none;
    color: #777;
}

.site-footer__madeby {
    float: right;
    width: 40%;
}

.site-footer__madeby-link {
    display: block;
    float: right;
    text-decoration: none;
}

.site-footer__madeby-link-img {
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}

.site-footer__madeby-link-text {
    display: inline-block;
    vertical-align: middle;
}

.site-footer__madeby-link-text p {
    margin-bottom: 0;
}

.site-footer__madeby-link-text a {
    text-decoration: none;
    color: #4b3431;
}

.site-footer__call-to-action {
    display: none;
}

.body-contact .site-footer__call-to-action {
    font-family: 'ProximaNova-Semibold';
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-bottom: 45px;
    text-align: center;
    color: #44c5f4;
}


/*END:footer*/


/*END:base*/
/*# sourceMappingURL=sourcemaps/base.css.map */
