.contact-modal__inner {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*contact*/

.contact-main__heading {
    margin-bottom: 42px;
    text-align: center;
}

.contact-main__title {
    margin-bottom: 45px;
    color: #fff;
}

.contact-main__subtitle {
    font-family: 'ProximaNova-Light';
    font-size: 30px;
    font-weight: normal;
    line-height: 33px;
    color: #000;
}

.contact-main__heading {
    margin-bottom: 10;
    text-align: center;
}

.contact-main__title {
    margin-bottom: 38px;
    color: #fff;
}

.contact-form {
    position: relative;
}

.contact-form__form {
    position: relative;
}

.contact-form__form:before {
    position: absolute;
    z-index: -2;
    top: -16px;
    left: 12%;
    display: block;
    width: 80%;
    height: 20px;
    content: '';
    background-color: #94ead3;
}

.contact-form__form:after {
    position: absolute;
    z-index: -1;
    top: -7px;
    left: 8.4%;
    width: 93%;
    height: 70%;
    content: '';
    border: 1px solid #000;
}

.contact-form__holder {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.contact-form__title {
    font-family: 'ProximaNova-Semibold';
    font-size: 30px;
    margin-bottom: 55px;
}

.contact-form__cell {
    padding: 25px 30px;
}

.contact-form__cell--title {
    width: 29.300000000000001%;
}

.contact-form__cell-title {
    font-family: 'ProximaNova-Semibold';
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
}

.contact-form__textfield {
    font-family: 'ProximaNova-Regular';
    font-size: 15px;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 2px;
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    /* Firefox 19+ */
    /* Firefox 18- */
}

.contact-form__textfield::-webkit-input-placeholder {
    color: #000;
}

.contact-form__textfield::-moz-placeholder {
    color: #000;
}

.contact-form__textfield:-moz-placeholder {
    color: #000;
}

.contact-form__textfield:-ms-input-placeholder {
    color: #000;
}

.contact-modal {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.contact-modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 913px;
    margin: 0 auto;
    background-color: #fff;
}

.contact-modal__holder {
    position: relative;
    padding: 30px 35px;
    background-color: #fff;
}

.contact-modal__holder:before {
    position: absolute;
    z-index: -2;
    top: -16px;
    left: 12%;
    display: block;
    width: 80%;
    height: 20px;
    content: '';
    background-color: #fde44e;
}

.contact-modal__holder:after {
    position: absolute;
    z-index: -1;
    top: -7px;
    left: 8.4%;
    width: 93%;
    height: 70%;
    content: '';
    border: 1px solid #000;
}

.contact-modal__title {
    font-family: 'LifehackBasic-Regular';
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 25px;
    text-align: center;
    color: #001a24;
}

.contact-modal__description {
    font-size: 15px;
    max-width: 530px;
    margin: 0 auto 35px;
    text-align: center;
    color: #000;
}

.contact-modal__links-list {
    margin: 0 -15px;
}

.contact-modal__links-list>li {
    display: inline-block;
    width: 33%;
    padding: 0 15px;
    list-style: none;
    text-align: center;
    vertical-align: top;
}

.contact-modal__links-list>li>a {
    font-family: 'ProximaNovaExCn-Semibold';
    font-size: 18px;
    line-height: 26px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.contact-modal__links-list>li>a:after {
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 5px;
    content: '';
    -webkit-transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -o-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    opacity: 0;
    background-image: url(../img/base/header-nav-item-underline.png);
    background-repeat: repeat-x;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.contact-modal__links-list>li>a:hover:after {
    opacity: 1;
}


/*END:contact*/
/*# sourceMappingURL=sourcemaps/contact.css.map */
