/*responsive*/

@media screen and (max-width: 1400px) {
    .header-nav {
        z-index: 99;
        width: 20%;
    }
    .header-logo {
        width: 60%;
    }
    .header-login {
        width: 20%;
    }
    .header-nav__list {
        position: absolute;
        z-index: 100;
        top: 60px;
        left: 0;
        margin: 0;
        -webkit-transition: -webkit-transform .15s ease-in;
        -moz-transition: transform .15s ease-in, -moz-transform .15s ease-in;
        -o-transition: -o-transform .15s ease-in;
        transition: -webkit-transform .15s ease-in;
        transition: transform .15s ease-in;
        transition: transform .15s ease-in, -webkit-transform .15s ease-in, -moz-transform .15s ease-in, -o-transform .15s ease-in;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #15aee8;
    }
    .header-nav__list.active {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .header-nav__list-item {
        display: block;
        float: none;
        margin-bottom: 10px;
        padding: 0;
        text-align: center;
    }
    .header-nav__list-item:last-child {
        margin-bottom: 0;
    }
    .header-nav__list-item:after {
        display: none;
    }
    .header-nav__list-item>a {
        display: block;
        padding: 7px 18px;
    }
    .header-nav__toggle-btn {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .header-nav {
        width: auto;
        margin-right: 25px;
    }
    .header-logo {
        width: auto;
        background-image: none;
    }
}

@media screen and (max-width: 1060px) {
    .myContainer {
        width: 95%;
    }
    .header-login {
        width: auto;
    }
    .header-login__text-link {
        font-size: 18px;
    }
    .contact-main__title {
        font-size: 42px;
    }
    .contact-main__subtitle {
        font-size: 22px;
    }
    .contact-main__heading {
        margin-bottom: 55px;
    }
    .benefits {
        margin-bottom: 65px;
    }
    .benefits__list li {
        display: block;
        width: auto;
    }
    .benefits__description {
        font-size: 22px;
    }
    .contact-form__form:after {
        display: none;
    }
    .contact-modal__inner {
        width: 85%;
    }
    .body-contact .site-footer__call-to-action {
        font-size: 22px;
    }
    .contact-modal__title {
        font-size: 31px;
    }
    .contact-modal__links-list {
        margin: 0;
    }
    .contact-modal__links-list>li {
        display: block;
        width: auto;
        margin-bottom: 15px;
    }
    .contact-modal__links-list>li:last-child {
        margin-bottom: 0;
    }
    .contact-modal__links-list>li a {
        font-size: 16px;
    }
    .site-footer__project-info,
    .site-footer__year-block,
    .site-footer__madeby {
        float: none;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .site-footer__project-info-link,
    .site-footer__madeby-link-img {
        display: block;
        margin: 0 auto 12px;
    }
    .site-footer__madeby-link {
        float: none;
    }
}

@media screen and (max-width: 700px) {
    .header-logo__link {
        font-size: 40px;
    }
    .header-nav {
        margin-right: 16px;
    }
    .contact-main__title {
        font-size: 35px;
    }
    .contact-main__subtitle {
        font-size: 18px;
    }
    .benefits__description {
        max-width: 85%;
        margin: 0 auto;
    }
    .contact-form__title {
        font-size: 25px;
    }
    .contact-form__form:before {
        top: -8px;
    }
    .contact-modal__title {
        font-size: 25px;
    }
    .site-footer__call-to-action {
        line-height: 25px;
        max-width: 50%;
        margin: 0 auto;
    }
    .default-form__submit-btn {
        font-size: 15px;
        padding: 7px 9px;
    }
}

@media screen and (max-width: 600px) {
    .site-header {
        padding-top: 22px;
    }
    .header-nav {
        position: absolute;
        top: 50%;
        left: 20px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .header-logo {
        float: none;
        margin-bottom: 12px;
    }
    .header-logo__link {
        display: inline-block;
    }
    .header-login {
        float: none;
    }
    .header-login__text {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .contact-modal__title {
        font-size: 22px;
        line-height: inherit;
    }
    .contact-modal__description {
        font-size: 13px;
        max-width: 80%;
        margin: 0 auto;
    }
    .body-contact .site-footer__call-to-action {
        font-size: 18px;
        max-width: 95%;
    }
    .contact-modal__links-list>li a {
        font-size: 13px;
    }
    .contact-form__cell-title,
    .contact-form__textfield {
        font-size: 11px;
    }
    .contact-form__cell {
        padding: 13px 14px;
    }
    .contact-form__cell--title {
        width: 15%;
    }
    .contact-form__title {
        font-size: 22px;
    }
    .default-form__submit-btn {
        font-size: 13px;
    }
}


/*END:responsive*/
/*# sourceMappingURL=sourcemaps/responsive.css.map */
