/*fonts*/

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ProximaNova/ProximaNova-Regular/ProximaNova-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ProximaNova/ProximaNova-Light/ProximaNova-Light.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaExCn-Regular';
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ProximaNova/ProximaNovaExCn-Regular/ProximaNovaExCn-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaExCn-Semibold';
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ProximaNova/ProximaNovaExCn-Semibold/ProximaNovaExCn-Semibold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaExCn-Bold';
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ProximaNova/ProximaNovaExCn-Bold/ProximaNovaExCn-Bold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'ProximaNovaCond-Regular';
    src: url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ProximaNova/ProximaNovaCond-Regular/ProximaNovaCond-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'LifehackBasic-Regular';
    src: url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/LifehackBasic/LifehackBasic-Regular/LifehackBasic-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

/*END:fonts*/
