/* myReset:Start*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    height: 100%;
    font: normal 100% Cambria, Georgia, serif;
    line-height: 1;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.75em;
}

a,
a:hover,
a:focus {
    color: #000;
    outline: none;
}

ul {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    padding: 0;
}

img {
    max-width: 100%;
    border-style: none;
    outline: none;
}

input {
    -webkit-appearance: none;
}

input::-ms-clear {
    display: none;
}

input,
textarea,
button,
.slick-slide {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

input,
textarea {
    &:focus {
        &::-webkit-input-placeholder {
            opacity: 0;
        }
        &::-moz-placeholder {
            opacity: 0;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
            opacity: 0;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
            opacity: 0;
        }
    }
}

strong {
    font-weight: bold;
}

label,
button {
    cursor: pointer;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.text-center {
    text-align: center;
}


/* END:myReset */
