<!-- .benefits -->
<div class="benefits">
    <!-- .benefits__list -->
    <ul class="benefits__list">
        <li>
            <!-- .benefits__img-block -->
            <div class="benefits__img-block">
                <img src='img/benefits/benefit1.png' alt='img1' class="benefits__img" />
            </div>
            <!-- END:.benefits__img-block -->
            <!-- .benefits__description -->
            <div class="benefits__description">
                <p>Выплата без задержек по запросу</p>
            </div>
            <!-- END:.benefits__description -->
        </li>
        <li>
            <!-- .benefits__img-block -->
            <div class="benefits__img-block">
                <img src='img/benefits/benefit2.png' alt='img2' class="benefits__img" />
            </div>
            <!-- END:.benefits__img-block -->
            <!-- .benefits__description -->
            <div class="benefits__description">
                <p>Высокая стоимость рекламы</p>
            </div>
            <!-- END:.benefits__description -->
        </li>
        <li>
            <!-- .benefits__img-block -->
            <div class="benefits__img-block">
                <img src='img/benefits/benefit3.png' alt='img3' class="benefits__img" />
            </div>
            <!-- END:.benefits__img-block -->
            <!-- .benefits__description -->
            <div class="benefits__description">
                <p>Это безопасно!</p>
            </div>
            <!-- END:.benefits__description -->
        </li>
    </ul>
    <!-- END:.benefits__list -->
</div>
<!-- END:.benefits -->
