<!-- .default-form -->
<div class="default-form contact-form">
    <!-- .contact-form__title -->
    <h4 class="contact-form__title text-center">Оставьте заявку и мы оповестим вас о запуске:</h4>
    <!-- END:.contact-form__title -->
    <!-- .default-form default-form__form -->
    <form action="#" name="contactForm" id="contactForm" class="contact-form__form default-form__form">
        <!-- .contact-form__holder -->
        <div class="default-form__holder contact-form__holder">
            <!-- .default-form__row -->
            <div class="default-form__row">
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--title">
                    <!-- .contact-form__title -->
                    <h5 class="contact-form__cell-title">Ваше имя:</h5>
                    <!-- END:.contact-form__title -->
                </div>
                <!-- END:.contact-form__cell -->
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--field">
                    <!-- .contact-form__field-wrapper -->
                    <div class="contact-form__field-wrapper">
                        <input type="text" name="name" id="name" class="contact-form__textfield default-form__textfield" required placeholder="Анатолий" />
                    </div>
                    <!-- END:.contact-form__field-wrapper -->
                </div>
                <!-- END:.contact-form__cell -->
            </div>
            <!-- END:.default-form__row -->
            <!-- .default-form__row -->
            <div class="default-form__row">
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--title">
                    <!-- .contact-form__title -->
                    <h5 class="contact-form__cell-title">Email:</h5>
                    <!-- END:.contact-form__title -->
                </div>
                <!-- END:.contact-form__cell -->
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--field">
                    <!-- .contact-form__field-wrapper -->
                    <div class="contact-form__field-wrapper">
                        <input type="email" name="email" id="email" class="contact-form__textfield default-form__textfield" required placeholder="mymail@smth.ru" />
                    </div>
                    <!-- END:.contact-form__field-wrapper -->
                </div>
                <!-- END:.contact-form__cell -->
            </div>
            <!-- END:.default-form__row -->
            <!-- .default-form__row -->
            <div class="default-form__row">
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--title">
                    <!-- .contact-form__title -->
                    <h5 class="contact-form__cell-title">Ссылка на канал:</h5>
                    <!-- END:.contact-form__title -->
                </div>
                <!-- END:.contact-form__cell -->
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--field">
                    <!-- .contact-form__field-wrapper -->
                    <div class="contact-form__field-wrapper">
                        <input type="text" name="channel" id="channel" class="contact-form__textfield default-form__textfield" required placeholder="@channelname" />
                    </div>
                    <!-- END:.contact-form__field-wrapper -->
                </div>
                <!-- END:.contact-form__cell -->
            </div>
            <!-- END:.default-form__row -->
            <!-- .default-form__row -->
            <div class="default-form__row">
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--title">
                    <!-- .contact-form__title -->
                    <h5 class="contact-form__cell-title">Комментарий:</h5>
                    <!-- END:.contact-form__title -->
                </div>
                <!-- END:.contact-form__cell -->
                <!-- .contact-form__cell -->
                <div class="contact-form__cell default-form__cell contact-form__cell--field">
                    <!-- .contact-form__field-wrapper -->
                    <div class="contact-form__field-wrapper">
                        <input type="text" name="comment" id="comment" class="contact-form__textfield default-form__textfield" placeholder="Хотите что-то добавить?" />
                    </div>
                    <!-- END:.contact-form__field-wrapper -->
                </div>
                <!-- END:.contact-form__cell -->
            </div>
            <!-- END:.default-form__row -->
        </div>
        <!-- END:.contact-form__holder -->
        <!-- .contact-form__submit-wrapper -->
        <div class="contact-form__submit-wrapper text-center">
            <input type="submit" class="contact-form__submit-btn default-form__submit-btn" value="Дайте знать!" />
        </div>
        <!-- END:.contact-form__submit-wrapper -->
    </form>
    <!-- END:.default-form default-form__form -->
</div>
<!-- END:.default-form -->
