<!-- .contact-modal -->
<div id="contactModal" class="contact-modal">
    <!-- .contact-modal__inner -->
    <div class="contact-modal__inner">
        <!-- .contact-modal__holder -->
        <div class="contact-modal__holder">
            <h4 class="contact-modal__title">Поздравляем! Ваш канал успешно запущен!</h4>
            <!-- .contact-modal__description -->
            <div class="contact-modal__description">
                <p>После прохождения модерации, он будет запущен на канале “Лентач”. <br />
                Как только он будет опубликован, вы получите уведомление на почту и по смс, и сможете следить за ходом размещения в личном кабинете.}</p>
            </div>
            <!-- END:.contact-modal__description -->
            <!-- .contact-modal__link-list -->
            <ul class="contact-modal__links-list">
            	<li><a href="#">Запустить еще один проект</a></li>
            	<li><a href="#">сохранить как шаблон</a></li>
            	<li><a href="#">в личный кабинет</a></li>
            </ul>
            <!-- END:.contact-modal__link-list -->
        </div>
        <!-- END:.contact-modal__holder -->
    </div>
    <!-- END:.contact-modal__inner -->
</div>
<!-- END:.contact-modal -->
