</div>
<!-- END:wrapper -->
<footer id="footer" class="site-footer">
    <!-- .site-footer__call-to-action -->
    <div class="site-footer__call-to-action">
        <p>Спасибо за заявку, об открытии мы оповестим вас <br />в первую очередь!</p>
    </div>
    <!-- END:.site-footer__call-to-action -->
    <!-- .site-footer__maininfo -->
    <div class="site-footer__maininfo">
        <!-- .container-fluid-default -->
        <div class="container-fluid-default">
            <!-- .site-footer__project-info -->
            <div class="site-footer__project-info">
                <!-- .site-footer__project-info-link -->
                <a href="#" class="site-footer__project-info-link">
                    <img src="img/base/site-footer__project-info__logo.png" alt="project-info-logo" class="site-footer__project-info__logo" />
                </a>
                <!-- END:.site-footer__project-info-link -->
                <span class="site-footer__project-info-linktext">
                    Проект холдинга
                    <a href="#" class="site-footer__project-info-linkhighlight">Мирафокс</a>
                </span>
            </div>
            <!-- END:.site-footer__project-info -->
            <!-- .site-footer__year-block -->
            <div class="site-footer__year-block">
                <span class="site-footer__year">2016</span>
                <a href="#" class="site-footer__year-link">Telega</a>
            </div>
            <!-- END:.site-footer__year-block -->
            <!-- .site-footer__madeby -->
            <div class="site-footer__madeby">
                <!-- .site-footer__link -->
                <div class="site-footer__madeby-link">
                    <img src="img/base/site-footer__link-img.png" alt="link-img" class="site-footer__madeby-link-img" />
                    <!-- .site-footer__link-text -->
                    <div class="site-footer__madeby-link-text">
                        <p>
                            Сайт сделан
                            <br /> в студии
                            <a href="#">Just look</a>
                        </p>
                    </div>
                    <!-- END:.site-footer__link-text -->
                </div>
                <!-- END:.site-footer__link -->
            </div>
            <!-- END:.site-footer__madeby -->
        </div>
        <!-- END:.container-fluid-default -->
    </div>
    <!-- END:.site-footer__maininfo -->
</footer>
<!-- build:js js/bundle.js -->
<script src="./js/jquery-2.2.4.js"></script>
<script src="./js/jquery.validate.min.js"></script>
<script src="./js/main.js"></script>
<!-- endbuild -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.minjs"></script>
    <![endif]-->
</body>

</html>
